@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

/* Light: 300 */
/* Medium: 500 */
/* Bold: 700 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */  


/* ##Global Syles! */

html,
html body,
body #main-container {
    width: 100% !important;
    min-width: 0 !important;
    max-width: none !important;
    overflow-x: hidden;
}


body,
html {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}


/* ----------NAV STYLES----------- */

nav{
    background-color: #1B75BC;
    color:white;
    text-transform: capitalize;
    text-align: center;
    display:flex;
    margin-bottom: 30px;
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

nav ul{
    text-decoration: none;
    text-transform: capitalize;
    display:flex;
    margin:15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav li{
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    padding:5px 20px;
    text-align: center;
    font: 500 24px/29px 'Montserrat';
    letter-spacing: 0;
}

:root {
    --mainColor: #BAD5EB;
    --darkBlue: #1B75BC;
  }

nav ul li a {
    text-transform: capitalize;
    letter-spacing: 2px; 
text-decoration: none; 
color:white;
/*animation*/
background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    transition: background-size .5s;
}

nav a:hover {
    background-size: 4px 50px;
    color: var(--darkBlue);
  }




/* HEADER STYLES */
header {
    padding-top:100px;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    text-align: center;
    font: 700 72px/70px 'Montserrat';
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

h2 {
    text-align: center;
    font: 300 40px/49px 'Montserrat';
    letter-spacing: 0;
    color: #1B75BC;
    opacity: 1;
}

h4 {
    text-align: center;
    font: 500 24px/29px 'Montserrat';
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    max-width: 600px;
    min-width: 300px;
}

header img {
    width: 100%;
    max-width: 336px;
    min-width: 300px;
    margin:0 auto;
}

/* ----------About Section----------- */

section#about {
    /* top: 954px;
    left: -147px; */
    min-height: 757px;
    background: #BAD5EB 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 40px 0 40px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section#about p {
    text-align: left;
    font: 500 22px/44px 'Montserrat';
    letter-spacing: 0;
    color: #1B75BC;
    opacity: 1;
    max-width: 800px;
}

section#about button {
    /* top: 1523px;
    left: 800px; */
    
    width: 300px;
    height: 70px;
    background: #1B75BC 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 0;
    color: white;
    margin-top: 40px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

section#about button:hover {


    background: rgb(17, 74, 117) 0% 0% no-repeat padding-box;

    color: white;
    cursor: pointer;

}

section#about button a {
    /* top: 1549px;
    left: 877px;
    width: 166px;
    height: 29px; */
    text-align: left;
    font: 500 20px/44px 'Montserrat';
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}

/* ---PORTFOLIO SECTION */

@media only screen and (min-width: 768px) and (max-width: 1400px) {

    section#portfolio {
        margin: 100px;
        padding: 0 10%;
        
    }
    section#portfolio .card img {
        text-align: center;
    }

    section#portfolio .card p{
        text-align: left;
    }
}

@media only screen and (min-width: 1401px) {

    section#portfolio {
        margin: 100px;
        padding: 0 25%;
        text-align: center;
    }
}

section#portfolio img {
    max-height: 400px;
    min-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    text-align: center;
}

section#portfolio .card {
    text-align: center;
}

section#portfolio .card p{
    text-align: left;
}

/* section#portfolio img:hover {
    background-color: black;
} */

h5 {
    font: 400 16px/24px 'Montserrat';
    text-align: center;
}

section#portfolio h5 {
    text-align: center;
    font: 500 24px/29px 'Montserrat';
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.project-container {
    /* border:3px solid green; */
    width: 15%;
    /* margin: 0 2px; */
    padding: 0;
}


section#contacts {
    min-height: 400px;
    background: #1B75BC 0% 0% no-repeat padding-box;

    opacity: 1;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section#contacts .smedia-icon {
    margin: 0 13px;
}

section#contacts #email {
    border-top: 3px solid #BAD5EB;
    border-bottom: 3px solid #BAD5EB;
    padding: 40px 0;    
    
}

section#contacts #email a {
    text-decoration: none;
    color: white;
}

section#h5 {
    color: #FFFFFF
}

footer {
    min-height: 160px;
    background: #BAD5EB 0% 0% no-repeat padding-box;
    padding: 0;
    margin: 0;
    width: 100%;
    /* border: 3px solid yellow; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h5 {
    color: #1B75BC;
    margin-right: 5px;
}

footer .powered-by-icon {
    margin: 13px;
}

.card {
    border: none;
}

/* PLAYING WITH DARK STYLES */
/* (For now it0s disabled)*/
#swapStylesheet {
    display: none;
    /* display: inline; */
}

@media only screen and (max-width: 767px) {

    section#about p {
        font: 500 24px/40px 'Montserrat';

    }

    section#about button {
        width: 260px;
        height: 60px;

    }

    section#portfolio {
        margin: 10px 0;
        padding: 0 10%;
        /* border: 3px solid yellow; */
    }

    section#portfolio h2 {
        /* border: 3px solid pink; */
    }

    footer .powered-by-icon {
        width: 70px;
        /* border: 3px solid yellow; */
    }

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  