header {
    h1 {
        top: 560px;
        left: 657px;
        width: 608px;
        height: 88px;
        text-align: center;
        font: Bold 72px/88px Montserrat;
        letter-spacing: 0;
        color: #000000;
        opacity: 1;
    }

    h2 {
        top: 660px;
        left: 759px;
        width: 404px;
        height: 49px;
        text-align: center;
        font: Light 40px/49px Montserrat;
        letter-spacing: 0;
        color: #1B75BC;
        opacity: 1;
    }

    h4 {
        top: 733px;
        left: 600px;
        width: 722px;
        height: 58px;
        text-align: center;
        font: Medium 24px/29px Montserrat;
        letter-spacing: 0;
        color: #000000;
        opacity: 1;
    }
}